.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo-container {
    display: flex;
    width: 100%;
    padding: 20px 40px 0px;

    img {
        align-items: center;
        justify-content: center;
        width: 120px;
    }
}

.logo-footer-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-container {
   width: 300px;
}

.label-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;

    input, select {
        width: 100%;
        padding: 12px 12px;
    }
}

.indentifier-container {
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    
    padding: 05px 32px 16px; 
}

.card-container{
    width: 50%;
    height: 400px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.Voltar{
    display: flex;
    align-items: center;
    text-align: center;
    gap: 10px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: white;
    border: none;
    min-width: 250px;
}
#seta{
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 42px;
}
.perfil{
    display: flex;
}

#perfil-text{
    height: fit-content;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-right: 10px;
}
.card-container {
    display: flex;
    gap: 32px;
    
}

.card-req {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 250px;
}
