.section-rounded {
    max-width: 1000px;
    margin: auto;
}

.titulo{
    text-align: center;
}

#form1{
    display: flex;
    flex-direction: row;
    gap: 64px;
    margin: 32px;
}

#form2{
    display: flex;
    flex-direction: row;
    gap: 64px;
    margin-inline: 32px;
}

#botoes{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 8px;
    max-width: 500px;
    margin: auto;
}